.toppage {display: inline-block;
	padding-right: 30px;
	color: #d6d6d6;
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

#hdrbkgrd { background-color:#303030;
}

.div, .hdrbkgrd2 {display: inline-block;
	padding-right: 10px;
	color: #464648;
	background-color: #fbfbfd;
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
#click7, #click8, #click9, #click10, #click11, #click12, #click13, #click14, #click15{padding-bottom: 30px;
}

#fnt4lrnmr{	
	background-color: #f5f5f7;
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 13px;
}


.newred{color: red
}
.lrnblue{color: #1371cf;
}

.pad{padding-top: 90px;font-size: 25px;
font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	
}
#fnt1 {font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 45px;
}

#fnt2{
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 20px;
}

#fnt3{
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 20px;
	background-color: #1371cf;
	color: white;
}


#lrnblue {font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	color: #1371cf;
	
}





























