body {
	background-color:white;
	overflow: auto;
}
.toppage {display: inline-block;
	padding: 15px;
	color: white;
}

#bckgrd { background-color:#000D7E
}

.b1 {display: inline-block;
	padding: 7px;
	background: #0000CD;
	color: white;
}

.picdiv {
	display: inline-block;
	padding: 20px;
}
.picwords{ display: inline-block;
	padding: 10px;
}

















































